.page {
    display: grid;
    font-family: Papyrus, Serif;
}

.top_bar {
    text-align: center;
    font-size: xx-large;
    color: tan;
}

#introduction_picture {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: black;
    color: tan;
    border: 1px solid black;
    font-family: Papyrus, Serif;
    cursor: pointer;
}

#post_btn {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

#comment_btn {
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 75px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: sienna;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: tan;
    padding-top: 12px;
    padding-bottom: 12px;
}

tr:nth-child(even){
    background-color: antiquewhite;
}

tr:hover {
    background-color: burlywood;
}

.measurement_table {
    border-collapse: collapse;
}

.btn:hover {
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    font-family: Papyrus, Serif;
    cursor: pointer;
}

.content {
    position: relative;
    float: left;
}

.list_grid {
    width: 15%;
    float: left;
    margin-left: 15px;
    margin-bottom: auto;
    border: 2px solid black;
    background-color: tan;
}

#list {
    padding-left: 20px;
}

.list_item {
    margin-bottom: 10px;
    cursor: pointer;
}

#measurement_post {
    font-weight: bolder;
    text-decoration: underline;
}

.post {
    padding: 0 0 0 50px;
    float: left;
    width: 50%;
    font-family: Palatino, serif;
}

.heading {
    font-family: Papyrus, Serif;
    font-size: larger;
}

.info {
    font-family: Palatino, serif;
    width: 20%;
    float: right;
    margin-right: 15px;
    margin-bottom: auto;
    border: 2px solid black;
    padding: 5px;
    background-color: tan;
}

.comment_field {
    margin-left: 100px;
    margin-top: 20px;
}

#enter_comment_text {
    vertical-align: top;
}